@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 481px;
    --breakpoint-laptop: 769px;
    --breakpoint-desktop: 1025px;
    --breakpoint-tv: 1201px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
}

